{{ define "main" }}
<div>

  <span id="name">{{ .Site.Title }}</span>
  <br>

  {{ $profileImage := resources.Get "images/profile-young.jpg" }}
  <img id="profile-img" src="{{ $profileImage.RelPermalink }}">

  <section id="about">
    <h2>About Me</h2>
    <p>
      I am a graduate student in the ECE department at the University of Wisconsin-Madison,
      advised by Professor <a href="https://ramyakv.github.io">Ramya Korlakai Vinayak</a>.
      I am interested in the application of machine learning algorithms.
      I received my B.A. in Computer Sciences and Mathematics with Honors from the University of
      Wisconsin-Madison as well. <span class="redacted">I use Emacs, but with Vim key bindings. I guess I am
        evil.</span>
    </p>
  </section>

  <section id="projects">
    <h2>Projects</h2>
    <ul class="project-list">
      {{ range .Site.Data.projects.list }}
      <li class="project-item">
        <a href="{{ .url }}">{{ .name }}</a>: {{ .desc | markdownify }}
      </li>
      {{ end }}
    </ul>
  </section>
</div>
{{ end }}