{{ define "main" }}

<div>
  <section id="publications">

    <h2>Conference Publications</h2>
    <ul class="publication-list">
      {{ range .Site.Data.conf_publications.list }}

      <li class="publication-item">
        <strong><a href="{{ .url }}">{{ .title }}</a></strong> <br />
        {{ .author }} <br />
        <em>{{ .venue }}</em>
      </li>

      {{ end }}
    </ul>

    <h2>Workshop Publications</h2>
    <ul class="publication-list">
      {{ range .Site.Data.ws_publications.list }}

      <li class="publication-item">
        <strong><a href="{{ .url }}">{{ .title }}</a></strong> <br />
        {{ .author }} <br />
        <em>{{ .venue }}</em>
      </li>
      {{ end }}
    </ul>

  </section>
</div>
{{ end }}